main {
  width: 300px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  img {
    width: 35px;
    height: 35px;
  }

  span {
    font-size: 30px;
    font-weight: bold;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px 0;

  input {
    border: 1px solid lightblue;
    padding: 17px 25px;
    font-size: 17px;
    border-radius: 4px;
    color: white;
    background-color: rgba($color: #000000, $alpha: .5);
  }

  input:focus {
    outline: 1px solid lightblue;
  }

  input::placeholder{
    color: rgba(255,255,255, .5);
  }
}


.button {
  width: 100%;
  background-color: #2B36E5;
  padding: 15px 20px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 4px;

  &:hover{
    background-color:  #212aa0;
  }
}

footer {
  margin-top: 30px; 
  text-align: center;
  & a {
    color: lightblue;
    text-underline-offset: 3px;
  }
}

@media (max-width: 640px) {
  main {
    width: 100vw;
    padding: 0 20px
  }
}